<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="HouseHub component test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    

    <php>        
        <var name="DB_USER" value="travis" />
        <var name="DB_PASS" value="" />
        <var name="DB_HOST" value="localhost" />
        <var name="DB_PORT" value="3306" />
        <var name="DB_NAME" value="househubtest" />
    </php>
    
    <groups>
      <exclude>
        <group>cookie</group>
        <group>no-travis</group>
      </exclude>
    </groups>
    
    <filter>
        <whitelist>
            <directory>./src</directory>
            <directory>./lightninghowl</directory>
            <exclude>
                <directory>./build</directory>
                <directory>./manifest</directory>
                <directory>./files</directory>
                <directory>./bin</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml" showUncoveredFiles="true"/>
    </logging>
</phpunit>
